---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">

    <title>{{ site.title }}</title>
    
    <link href="/assets/base.css" rel="stylesheet">    
    <link href="/assets/layout.css" rel="stylesheet">
    <link href="/assets/theme.css" rel="stylesheet">    
    
    <link rel="stylesheet" href="/assets/mobile.css" media="screen and (max-width: 640px)" />
    <link rel="stylesheet" href="/assets/desktop.css" media="screen and (min-width: 641px)" /> 
 
    <!--[if IE]>
    <link href="/assets/ie.css" media="all" type="text/css" rel="stylesheet">  
	  <![endif]-->
	  	  
    <script type="text/javascript" src="/assets/modernizr.custom.30919.js"></script>
      
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.responsive-images.js"></script>    
    <script type="text/javascript" src="/assets/jquery.init.js"></script>
    
    
    <!--<script type="text/javascript" src="/assets/jquery.grid.js"></script>-->
  </head>

