.container {
  width: 98%;
  margin: 0 auto;
}


/* Typography
*/

body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2.61538em; padding:1.28666em 0; }
h2 { font-size:2.11538em; padding:1.44305em 0; }
h3 { font-size:1.61538em; padding:1.30936em 0; }

#info h1, #info h2, #info h3 {
  padding: .312em 0;
}


/* Header
*/

#header img {
  opacity: .3;
  width: 10em;
}


/* Hide Flash Player & playlist
*/

#amptracker_NowPlaying {
  display: none !important;
}
#hide-flashplayer {
  width: 240px;
  height: 60px;
  position: relative;
  top: -55px;
  z-index: 1;
}
#lastfmframe {
  display: none;
}

