.container {
  width: 96%;
  margin: 0 auto;
}

#images, #info, #content {
  position: relative;
  top: -3.5em;
}

#hide-flashplayer {
  width: 240px;
  height: 100px;
  position: relative;
  top: -60px;
  z-index: 1;
}
